.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: $grid-width;
  margin: 0 auto;
  gap: 8rem;
  @include response(tab-land) {
    gap: 4rem;
  }

  @include response(tab-port) {
    grid-template-columns: 1fr;
    padding: 0 5rem;

    a {
      margin-bottom: 2rem;
    }
  }
}
