.footer-logo-box {
  width: 15rem;
  height: auto;
  margin: 0 auto;
}

.footer-logo {
  max-width: 100%;
}

.footer-navigation-box {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  @include response(tab-port) {
    flex-direction: column;
    align-items: center;
    gap: 6rem;
  }
  @include response(phone) {
    text-align: center;
  }
}

.footer-list {
  display: flex;
  list-style: none;

  column-gap: 2.5rem;
  @include response(tab-land) {
    column-gap: 1.5rem;
  }
  @include response(tab-port) {
    column-gap: 3rem;
  }
  @include response(phone) {
    column-gap: 1.5rem;
  }
}
.footer-item {
  display: inline-block;
  transition: all 0.3s;
}
.footer-link {
  text-decoration: none;
  display: inline-block;
  color: #f7f7f7;
  transition: all 0.3s;
  background-color: #333;
  text-transform: uppercase;

  @include response(phone) {
    color: $color-primary;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:hover,
  &:active {
    color: $color-primary;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
    transform: rotate(5deg) scale(1.4);
  }
}

.footer-navigation,
.footer-description-box {
  border-top: 2px solid #777;
  padding-top: 2rem;
  padding-inline: 1rem;
  @include response(tab-port) {
    padding-inline: 3rem;
  }
  @include response(phone) {
    padding-inline: 1.5rem;
  }
}
