.footer-logo-box {
  width: 15rem;
  height: auto;
  margin: 0 auto;
}

.footer-logo {
  max-width: 100%;
}

.footer-navigation-box {
  display: flex;
  justify-content: space-evenly;
}

.footer-list {
  display: flex;
  list-style: none;

  column-gap: 2.5rem;
}
.footer-item {
  display: inline-block;
  transition: all 0.3s;
}
.footer-link {
  text-decoration: none;
  display: inline-block;
  color: #f7f7f7;
  transition: all 0.3s;
  background-color: #333;
  text-transform: uppercase;

  &:hover,
  &:active {
    color: $color-primary;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
    transform: rotate(5deg) scale(1.4);
  }
}

.footer-navigation,
.footer-description-box {
  border-top: 2px solid #777;
  padding-top: 2rem;
  padding-inline: 2rem;
}
