.tours__card-row {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  gap: $horizontal-gutter;
  max-width: $grid-width;
  margin: 0 auto;

  @include response(tab-land) {
    gap: 3rem;
  }
  // @include response(tab-port) {
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 5rem;
    max-width: 50rem;
  }
}

.card {
  // defining Perspective

  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    height: auto;
  }

  &-title {
    &-1 {
      background-image: linear-gradient(
        to right bottom,
        $color-secondary-light,
        $color-secondary-dark
      );
    }
    &-2 {
      background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark
      );
    }
    &-3 {
      background-image: linear-gradient(
        to right bottom,
        $color-tertiary-light,
        $color-tertiary-dark
      );
    }
  }

  &-side {
    overflow: hidden;
    height: 52rem;
    transition: all 0.8s ease;
    color: #777;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    @media only screen and (max-width: 56.25em), only screen and (hover: none) {
      height: auto;
      position: relative;
    }
    &-image {
      background-size: cover;
      background-blend-mode: lighten;
      -webkit-clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 85%);
      clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 85%);
      height: 23rem;

      &-1 {
        background-image: linear-gradient(
            to right bottom,
            $color-secondary-light,
            $color-secondary-dark
          ),
          url('../img/nat-5.jpg');
      }
      &-2 {
        background-image: linear-gradient(
            to right bottom,
            $color-primary-light,
            $color-primary-dark
          ),
          url('../img/nat-6.jpg');
      }
      &-3 {
        background-image: linear-gradient(
            to right bottom,
            $color-tertiary-light,
            $color-tertiary-dark
          ),
          url('../img/nat-7.jpg');
      }
    }

    &-title {
      font-size: 2.8rem;
      font-weight: 300;
      text-transform: uppercase;

      color: #fff;
      position: absolute;
      right: 2rem;
      top: 12rem;
      width: 75%;
      text-align: right;

      &-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
      }
    }

    &-front {
      background-color: $color-white;
      padding-bottom: 10rem;
    }
    &-back {
      transform: rotateY(180deg);

      @media only screen and (max-width: 56.25em),
        only screen and (hover: none) {
        transform: rotateY(0deg);
        height: 20rem;
        clip-path: polygon(0% 15%, 0% 100%, 100% 100%, 100% 0%);
        padding: 20rem 0 10rem;
        margin-top: -10rem;
      }
    }

    &-list {
      padding: 3rem;
      width: 80%;
      text-align: center;
      margin: 0 auto;

      ul {
        list-style: none;
        li {
          padding: 1rem;
          font-size: 1.5rem;
          &:not(:last-child) {
            border-bottom: 1px solid #eee;
          }
        }
      }
    }
  }

  &:hover &-side-front {
    cursor: pointer;
    transform: rotateY(-180deg);
  }

  &:hover &-side-back {
    cursor: pointer;
    transform: rotateY(0);
  }

  &-side-back {
    &-1 {
      background-image: linear-gradient(
        to right bottom,
        $color-secondary-light,
        $color-secondary-dark
      );
    }

    &-2 {
      background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark
      );
    }
    &-3 {
      background-image: linear-gradient(
        to right bottom,
        $color-tertiary-light,
        $color-tertiary-dark
      );
    }
  }

  &-cta {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }
  &-price {
    text-align: center;
    margin-bottom: 8rem;
    @media only screen and (max-width: 56.25em), only screen and (hover: none) {
      margin-bottom: 4rem;
    }
    color: $color-white;

    &-only {
      font-size: 1.4rem;
      text-transform: uppercase;
    }
    &-value {
      font-size: 6rem;
      font-weight: 100;
    }
  }
}
