.composition {
  position: relative;
  &__photo {
    max-width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 1.5rem;

    @include response(tab-port) {
      max-width: 32%;
      position: relative;
    }
    @include response(phone) {
      max-width: 90%;
      display: block;
      margin: 0 auto;
      margin-bottom: 4rem;
    }

    &-p1 {
      left: 0;
      top: -2rem;
      @include response(tab-port) {
        top: 0;
        left: 0;
        transform: scale(1.2);
      }
      @include response(phone) {
        transform: scale(1);
      }
    }
    &-p2 {
      right: 0;
      top: 20px;
      @include response(tab-port) {
        top: 0;
        left: 0;
        transform: scale(1.3);
        z-index: 100;
      }
      @include response(phone) {
        transform: scale(1);
      }
    }
    &-p3 {
      top: 10rem;
      left: 20%;
      @include response(tab-port) {
        top: 0;
        left: 0;
        transform: scale(1.1);
      }
      @include response(phone) {
        transform: scale(1);
      }
    }
    &:hover {
      outline: 1.2rem solid $color-primary;
      transform: scale(1.08) translateY(-2rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
